.infobar {
    min-height: 55px;
    padding: 7px;
    background-color: black;
    border-right: 2px solid #555555;
    border-left: 5px solid #555555;
    border-radius: 0 0 0 5px;
}

.header { 
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}
.description {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color : #d2d2d2;
}

@media (max-width: 700px) {
    .infobar {
        border-right-width: 5px;
        border-radius: 0 0 0 0;
    }

}

