    <div class="infobar" *ngIf="playlistState.activeVideo">
            <div class="header">
              {{playlistState.activeVideo.title}}
            </div>
            <div  class="description" >
            <div *ngIf="!playlistState.toplist">Added by {{playlistState.activeVideo.uploader}}</div>
            <div *ngIf="playlistState.activeVideo?.rating > 1">{{playlistState.activeVideo.rating}} likes</div>
            <div *ngIf="playlistState.activeVideo?.rating == 1">{{playlistState.activeVideo.rating}} like</div>
            <div *ngIf="playlistState.activeVideo?.rating == 0">no likes</div>
            <div *ngIf="playlistState.activeVideo?.rating == -1">{{playlistState.activeVideo.rating}} dislike</div>
            <div *ngIf="playlistState.activeVideo?.rating < -1">{{playlistState.activeVideo.rating}} dislikes</div>
            </div>
    </div>