.footer {
    overflow: hidden;

    color: white;
    background: #1e1e1e;
}

.footer-title {
    margin-bottom: 1.875rem;
}

.footer-column {
    margin-bottom: 1.875rem;
}

.footer-bottom {
    position: relative;
    height: 3rem;

    padding: .5rem 0;

    font-size: 0.75rem;
    text-align: center;

    color: lightgrey;
    background: black;

    margin-top: 100px;
}

.footer-copyright {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    padding: 0 5rem;

    transform: translate(-50%, -50%);
}
