<!--
<iframe #playlistplayer 
        id="playlistplayer"
        *ngIf="playlistState.activeVideo"
        frameborder="0"
        allowfullscreen allowscriptaccess="always"
        [src]="playlistState.activeVideo?._id +'?enablejsapi=1&version=3&playerapiid=ytplayer&loop=1&autoplay=1&playlist='+videoList | youtubeSafeUrl">
</iframe>
-->
<div class="playercontainer">
    <youtube-player
          *ngIf="playlistState.activeVideo"
          width="100%"
          height="100%"
          [videoId]="playlistState.activeVideo?._id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)">
    </youtube-player>
</div>
<my-activevideoinfo></my-activevideoinfo>
